<app-loader></app-loader>

<div class="card-header">
  SQL Server Just in Time Permission
</div>
Select one role and one login to give temporary permission
<p></p>
<br>
<br>

<form novalidate
      (ngSubmit)="patchData()"
      [formGroup]="permform">
  <div class="form-group">

    <div class="col-xs-6">
      <h2 class="sub-header">Logins</h2>
      <div class='table-responsive'>
        <table class='table table-striped w-auto'>
          <thead>
            <tr>
              <th>Select</th>
              <th>Login</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let login of sqlperm?.logins">
              <td>
                <input type="radio" name="login" value={{login}} formControlName="login">
              </td>
              {{login}}
              <td>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6">
      <h2 class="sub-header">Roles</h2>
      <div class='table-responsive'>
        <table class='table table-striped w-auto'>
          <thead>
            <tr>
              <th>Select</th>
              <th>RoleName</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let role of sqlperm?.roles">
              <td>
                <input type="radio" name="role" value={{role}} formControlName="role">
              </td>
              {{role}}
              <td>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <ngbd-datepicker-range></ngbd-datepicker-range>
  <button class="btn btn-outline-secondary"
          type="submit">
    Do the Magic!
  </button>




</form>


<!-- Modal -->
<div class="modal" id="Modal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">JIT Permission Created</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
      </div>

      <div class="modal-body">
       All Done!
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" (click)="hide()">Close</button>
      </div>

    </div>
  </div>
</div>


<!--<br>Dirty: {{ permform.dirty }}
<br>Touched: {{ permform.touched }}
<br>Value: {{ permform.value | json }}

<p></p>-->
